
.view-content {
    padding: 20px;
}

select {
    outline: 0;
    box-shadow: none;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;

    // &::-ms-expand {
    //     display: none;
    // }
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}
