<div class="view-content">
    <div>
        <label>Saved city</label>
        <select class="select" [(ngModel)]="selectedCity" (ngModelChange)="selectCity()">
            <option [ngValue]="{}"></option>
            <option *ngFor="let row of cities" [ngValue]="row">{{row.city}}</option>
        </select>
        <button (click)="goToSearch()">
            Go to Search
        </button>
    </div>
    <div *ngIf="data && !(isLoading$ | async)">
        <p>
            city: {{data.city}}
        </p>
        <p>
            Temperature: {{data.temp}}
        </p>
        <p>
            Weather: {{data.weather}}
        </p>
    </div>
    <button *ngIf="data && !(isLoading$ | async) && !isExist"
        (click)="saveCity()">
        Save City
    </button>

    <button *ngIf="data && !(isLoading$ | async) && isExist"
        (click)="removeCity()">
        Remove City
    </button>
</div>