<div class="view-content">
    <label>Insert city name: </label>
    <input class="input" type="text" [(ngModel)]="searchingText" (ngModelChange)="autocomplete()">
    <h3 *ngIf="displayData.length > 0">Select City</h3>
    <p (click)="goToCity(row)" class="city" *ngFor="let row of displayData">{{row.name + " " + row.country}}</p>
</div>