
.view-content {
    padding: 20px;
}

.city {
    height: 30px;
    line-height: 30px;
    background-color: #efeded;
    border-radius: 2px;
    cursor: pointer;
    padding-left: 5px;
}

.input {
    height: 20px;
    width: 200px;
}
