<div class="error-wrapper">
    <h1 class="error__title">{{ 'ERROR_NOT_FOUND' }}</h1>
    <div class="error__content">
        <img src="/assets/img/404.png" class="error__content-image"/>
        <a href="/" class="error__content-link">{{ 'ERROR_HOME_PAGE' }}</a>
    </div>
</div>